<main class="w-100 vh-100 overflow-auto">
          
            

            <!--BANNER-->
            <div id="container-banner">
                  <img src="/images/banner.jpg">
            </div>
            <!--BANNER-->




            <!--CONTENT-->
            <div class="container" id="content">
                  <div class="row">

                        <!--CARD APRESENTAÇÃO-->
                        <div class="col-lg-4 px-2">,

                              <div id="card-principal">

                                        <div id="container-foto">
                                             {{#if userData.imgName}}
                                               <img src="/imgUsers/{{userData.imgName}}" alt="Imagem Usuário">
                                             {{else}}
                                               <i class="fas fa-user-circle" id="icon-user-dash"></i>
                                             {{/if}}
                                        </div> 

                                        <h5 class="mt-3 w-75 text-center fw-bold">{{userData.nome}}</h5>

                                        <p class="mb-1 w-75 text-center _job">
                                             {{#if userInfo.trabalho}}
                                                 {{userInfo.trabalho}}
                                             {{/if}}
                                        </p>

                                        <p class="mt-2 w-75 text-center"><i class="fas fa-map-marker-alt"></i>
                                              {{#if userInfo.cidade}}
                                                  {{userInfo.cidade}}
                                              {{/if}}
                                        </p>
                                        
                                        <div id="icon-redes">

                                             {{#if userInfo.instagram}}
                                                 <a href="{{userInfo.instagram}}"><i class="fab fa-instagram"></i></a>
                                             {{/if}}


                                             {{#if userInfo.linkedin}}
                                                  <a href="{{userInfo.linkedin}}"><i class="fab fa-linkedin"></i></a>
                                             {{/if}}

                                        </div>

                                        <p class="mt-1">
                                             {{#if userInfo.whatsapp}}
                                                  {{userInfo.whatsapp}}
                                             {{/if}}
                                        </p>

                                        <p class="mt-2 w-75 text-center">
                                             {{#if userInfo.bio}}
                                                 {{userInfo.bio}}
                                             {{/if}}
                                        </p>
                                        
                                         {{#if userInfo.email}}
                                                <a class="btn btn-dark w-50" href="mailto:{{userInfo.email}}"><i class="fas fa-envelope"></i> E-mail</a>
                                         {{/if}}


                                        {{#if userInfo.link}}
                                                <a href="{{userInfo.link}}" class="my-3">{{userInfo.link}}</a>
                                        {{/if}}


                                        <div class="mt-3 w-75">
                                             <div class="mb-2 w-100 d-flex justify-content-between"><span>Projetos on-line</span> <span>10</span></div>
                                             <div class="w-100 d-flex justify-content-between"><span>Vizualizações</span> <span>50</span></div>
                                        </div>

                              </div>

                        </div>
                         <!--CARD APRESENTAÇÃO-->



                        <!--PROJETOS-->
                        <div class="col-lg-8 px-2">

                               <div id="projetos">

                                      
                               </div>
                              
                        </div>
                         <!--PROJETOS-->
                           
                  </div>
            </div>
            <!--CONTENT-->

</main>